html, body, button, section, div, form, label, input,span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

button,
input[type="submit"] {
  cursor: pointer;
}

button {
  display: inline-block;
	background-color: #ececec;
	border-color: #ececec;
	color: black;
	font-weight: 700;
	padding: 8px;
	border-radius: 3px;
	transition: background-color 0.3s, border-color, 0.3s;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
}

button:hover {
	background-color: #ababab;
}

#main-canvas {
  margin: 5px 10px;
  height: 100vh;
  width: 100vw;
}

.controls {
  background: black;
  opacity: 0.6;
  color: white;

  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  right: 3%;
  z-index: 2;
}

#algorithms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.algo-options {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
