html, body, button, section, div, h3, form, label, input,span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

button,
input[type="submit"] {
  cursor: pointer;
}

button {
  display: inline-block;
	background-color: #ececec;
	border-color: #ececec;
	color: black;
	font-weight: 700;
	padding: 8px;
	border-radius: 3px;
	transition: background-color 0.3s, border-color, 0.3s;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
}

button:hover {
	background-color: #ababab;
}

body {
  overflow: hidden;
}

#algo-controls, #obs-controls {
  width: 180px;
  background: black;
  opacity: 0.6;
  color: white;

  padding: 15px;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#algo-controls {
  top: 15%;
}

#obs-controls {
  top: 50%;
}

h3 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 18px;
}

.algo-options, .obs-presets {
  margin-bottom: 15px;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
